# === Python & Django & Streamlit ===

# 仮想環境
.venv/

# SQLite DB（ローカルデータ）
db.sqlite3

# キャッシュ・一時ファイル
__pycache__/
*.pyc
*.pyo
*.pyd

# 環境変数ファイル
.env
secrets.toml

# VSCode / OS関連
.vscode/
.DS_Store
Thumbs.db

# Streamlit logs
.streamlit/
